body {
    font-family: monospace;
}

ul {
    font-family: helvetica;
}
.list {
    list-style: circle;
    font-family: monospace;
}
.light-theme {
    color: #000000;
    background: #311d7a7e;
}
.src{
    border-radius: 50%;
    border: none;
}