.search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    margin: 20px auto;
    margin-top: 40px;    
}

#searchInput {
    padding: 8px;
    border: none;
    width: 100%;
    outline: none;

    
}

.search label{
    height: 25px;
    
}

.card-container{
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    right: 13vh;
    width: 20vh; 
    top: 71px;
}

.card:hover{
    cursor: pointer;
}

.card{
 font-size: 14px;
 padding-left: 2px;
 flex-direction: column;

}

h3 {
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: solid 2px rgb(131, 77, 131);
    
}