header {
    background-color: #4c3e57;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
} 

header h2 {
    font-size: 20px;
    align-items: center;
    text-align: center;
    display: inline-flex;
    margin-left: 550px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.escolha1 button {
    border-radius: 10px;
    background: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    border: 2px solid black;
}

.escolha2 button {
    border-radius: 10px;
    background: blue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    border: 2px solid black;
}

.escolha3 button{
    border-radius: 10px;
    background: rgb(255, 208, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    border: 2px solid black;
}

.escolha4 button {
    border-radius: 10px;
    background: green;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    border: 2px solid black;
}

.conjunto {
    background-color: rgb(253, 255, 255);
    border-radius: 5px;
    text-align: center;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    width: 750px;
    margin-top: 300px;
    margin-left: 600px;
    box-shadow: 0px 0px 10px grey;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 3px;
}

body {
    background-color: rgb(231, 231, 231);
}

button {
    font-size: 17px;
    width: 300px;
    display: flex;
    gap: 10px;
    margin: 0 auto;
    align-items: center;
    height: 75px;
    justify-content: center;
}

.botoes1 {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
    justify-content: center;
    padding-top: 20px;
    
}

.botoes2 {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
    justify-content: center;
}

button:hover {
    cursor: pointer;
}