@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

 h1{
  font-family: "Gideon Roman", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
  margin-left: 2%;
}

body{
    background: #f5c9d0;
    background: radial-gradient(circle,rgba(245, 201, 208, 1) 0%, rgba(255, 248, 227, 1) 100%);
}

li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    line-height: 180%;
    font-size: 20px;
}

.junto {
    display: flex;
}

